body {
    background-color: rgb(112, 42, 170);
    font: normal 20pt arial;
}

header{
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

div {
    text-align: center;

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#imagem {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
      
}